 <div class="top-section">
        <div class="words">
          <h1>are your a farmer? <br>we offer a smart farming app to monitor your farm</h1>
         
            
          
          <h3>Control your water pumps with our smart farming app by turning them on and off with toggles in our app.</h3>
          <button class="download" mat-raised-button>Download App</button>
        </div>
        <div class="pic">
          <img src="../../../assets/top.png" alt="phone">
        </div>
 </div>
  <!--<div class="top-section2">
    <mat-grid-list class="mat" cols="2" rowHeight="2:1.7">
      <mat-grid-tile>
      
      </mat-grid-tile>
      <mat-grid-tile>
        
      </mat-grid-tile>
    </mat-grid-list>
  </div>-->
  <div class="higlights-feature-section" >
          
          <div class="header2">
            <h1>welcome to our smart farming</h1>
          </div>
          <div class="header">
            <h4 class="">explore the features included in our smart farming  app</h4>
          </div>
          <div class="cards">
            <div class="card">
              <i class="far fa-smile-beam"></i>
              <h1>great userbility</h1>
              
              <P>very easy to use and it is user friendly</P>
            
            </div>
            <div class="card">
              <i class="fas fa-tachometer-alt"></i>
              <h1>highest speed</h1>
              <P>fast laoding screens</P>
            </div>
            <div class="card">
              <i class="fas fa-palette"></i>
              <h1>awasome design</h1>
              <P>Uncode comes with pixel perfect & clean design to satisfy any possible and impossible needs.</P>
            </div>
     
          </div>
    </div>

  <section class="more-about-the-app desktop-view"  id="features">
    <div class="heading">
      <h1>what's more in the app?</h1>
    </div>
    <div class="sub-heading">
      <h1>let's describe more included feautres in our smart farming app</h1>
    </div>
    <div class="about-content">
      <div class="phone-container">
       
          <img src="../../../assets/pics.png" alt="pictures">
        
      </div>
      
      <div class="details">
        <mat-grid-list cols="2" rowHeight="4:1">
         
          <mat-grid-tile>
            <mat-card  class="example-card">
              <mat-card-title>Monitor animals</mat-card-title>
              <mat-card-content>
                <p style="color: black;"> Daily reporting on your field’s temperature
                  and humidity readings.</p>

              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile> 
            <mat-card  class="example-card">
              <mat-card-title>Water Control </mat-card-title>
              <mat-card-content>
                <p style="color: black;"> Turn on and off water   <span class="white" style="color:white;">enable  text to speechfffffff</span> </p>

              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card  class="example-card">
              <mat-card-title>Add New Task</mat-card-title>
              <mat-card-content>
                <p style="color: black;">Create a new automated task by entering of your task details<span class="white" style="color:white;">enable  text to speechfff</span></p>

              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card  class="example-card">
              <mat-card-title>View automated tasks</mat-card-title>
              <mat-card-content>
                <p style="color: black;">View daily, hourly, once off and all automated tasks</p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card  class="example-card">
              <mat-card-title>Add inventory</mat-card-title>
              <mat-card-content>
                <p style="color: black;">Easily add, remove and edit your farm
                  inventory and monitor your valuables.</p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card  class="example-card">
              <mat-card-title>adding estimates</mat-card-title>
              <mat-card-content>
                <p style="color: black;">storing all the estimates <span class="white" style="color:white;">enable  text to speechfff</span> </p> 

              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
        
      </div>
    </div>
  </section>

  <section class="more-about-the-app"  id="mobile-view" >
    <div class="heading">
      <h1>what's more in the app?</h1>
    </div>
    <div class="sub-heading">
      <h1>let's describe more included feautres in our easy farming app</h1>
    </div>
    <div class="about-content">
      <div class="phone-container">
       
          <img src="../../../assets/Good morning.png" alt="pictures">
        
      </div>
      
      <div class="details">
        <mat-grid-list cols="1" rowHeight="4:1">
          <mat-grid-tile>
            ff
          </mat-grid-tile>
          <mat-grid-tile> <span class="head"> <mat-accordion>
            <mat-expansion-panel hideToggle class="second-last">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  veiw your payment history <i class="fas fa-chevron-down"></i>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p style="color: black;">view payments which you have made since you <br> started using the app in managing your farming</p>
            </mat-expansion-panel>
          
          </mat-accordion></span></mat-grid-tile>
          <mat-grid-tile>
            <span class="head"> <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    switch user <i class="fas fa-chevron-down"></i>
                  </mat-panel-title>
                
                </mat-expansion-panel-header>
                <p style="color: black;">you can select your preffered language  to enable <br> text to speech</p>
              </mat-expansion-panel>
            
            </mat-accordion></span>
          </mat-grid-tile>
          <mat-grid-tile><span class="head"> <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  text to speech <i class="fas fa-chevron-down"></i>
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <p style="color: black;">you can select your preffered language to enable <br> text  to speech</p>
            </mat-expansion-panel>
          
          </mat-accordion></span></mat-grid-tile>
          <mat-grid-tile>
            <mat-accordion>
              <mat-expansion-panel hideToggle class="second-last">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    veiw order summary <i class="fas fa-chevron-down"></i>
                  </mat-panel-title>
                
                </mat-expansion-panel-header>
                <p style="color: black;">View all orders you have made.</p>
              </mat-expansion-panel>
            
            </mat-accordion>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-accordion>
              <mat-expansion-panel hideToggle class="second-last">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    adding estimates <i class="fas fa-chevron-down"></i>
                  </mat-panel-title>
                
                </mat-expansion-panel-header>
                <p>storing all the estimates</p> 
              </mat-expansion-panel>
            
            </mat-accordion>
          </mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
        
      </div>
    </div>
  </section>

 

  <section class="screens" id="screenshots">
          <h1 class="screenshots-h1">SCREENSHOTS OF OUR APP</h1>
    <section id="slider">
      <input type="radio" name="slider" id="s1" checked>
      <input type="radio" name="slider" id="s2">
      <input type="radio" name="slider" id="s3">
      <input type="radio" name="slider" id="s4">
      <input type="radio" name="slider" id="s5">
      
      <div for="s1" class="lab"  id="slide1">
        <img src="../../../assets/login_google-pixel5-sortasage-portrait.png" alt="">
        <div class="details">
          <h1>login page</h1>
          <ul>
            <li>
            <img class="photo" src="../../../assets/appstore.png" alt="">  Input your email and password to sign in to smart farming <span class="login-details">
              farming
            </span> 
            </li><br>
        
          </ul>
        </div>
      </div>
      <div for="s2" class="lab"  id="slide2">
        <img src="../../../assets/monitor animals_google-pixel5-sortasage-portrait.png" alt="">
        <div class="details">
          <h1 style="color: black;">Monitor animals</h1>
          <ul>
            <li style="color: black;">
            <img class="photo" src="../../../assets/appstore.png" alt=""> Daily reporting on your field’s temperature
            and humidity readings.
            </li><br>
            <li style="color: black;">
            <img class="photo" src="../../../assets/appstore.png" alt=""> Tracking sunlight absorption for each section
            using infrared technology.
            
            </li><br>
    
          </ul>
        </div>
      </div>
      <div for="s3" class="lab"  id="slide3">
        <img src="../../../assets/dashboard_google-pixel5-sortasage-portrait.png" alt="">
        <div class="details">
          <h1 style="color: black;">Dashboard</h1>
          <ul>
            <li style="color: black;">
            <img class="photo" src="../../../assets/appstore.png" alt=""> Manage smart water controls
            </li><br>
            <li style="color: black;">
            <img class="photo" src="../../../assets/appstore.png" alt=""> Monitor average sunlight absorption
            </li><br>
            <li style="color: black;">
            <li style="color: black;">
            <img class="photo" src="../../../assets/appstore.png" alt=""> Monitor animals
            </li><br>
            <li style="color: black;">
            <img class="photo" src="../../../assets/appstore.png" alt=""> Monitor poultry
            </li><br>
    
          </ul>
        </div>
      </div>
      <div for="s4" class="lab"  id="slide4">
        <img src="../../../assets/waterControl_google-pixel5-sortasage-portrait.png" alt="">
        <div class="details">
          <h1 >Water Control</h1>
          <ul>
            <li>
            <img class="photo" src="../../../assets/appstore.png" alt=""> Shows list of pumps available
            </li><br>
            <li>
            <img class="photo" src="../../../assets/appstore.png" alt=""> Turn on and off water pumps
            </li><br>
    
          </ul>
        </div>
      </div>
      <div for="s5" class="lab"  id="slide5">
        <img src="../../../assets/all tasks_google-pixel5-sortasage-portrait.png" alt="">
        <div class="details">
          <h1 >Tasks</h1>
          <ul>
            <li>
            <img class="photo" src="../../../assets/appstore.png" alt=""> View all automated tasks
            </li><br>
    
          </ul>
        </div>
      </div>

    </section>
  </section>


  <section class="screenshots-on-mobile">
    <div class="screenshots-header">
      <h1 class="h1"><span>SCREENSHOTS</span> OF OUR APP</h1>
    </div>
    <div class="mobile-screens">
      <img src="../../../assets/login_iphone12miniblack_portrait.png" alt="">
    </div>
    <div class="mobile-screens">
      <img src="../../../assets/payview1.PNG" alt="">
    </div>
    <div class="mobile-screens">
      <img src="../../../assets/payview1.PNG" alt="">
    </div>
    <div class="mobile-screens">
      <img src="../../../assets/payview1.PNG" alt="">
    </div>
    <div class="mobile-screens">
      <img src="../../../assets/payview1.PNG" alt="">
    </div>
    <div class="mobile-screens">
      <img src="../../../assets/payview1.PNG" alt="">
    </div>
  </section>

  <div class="after-more-about-the-app">
  <div class="download-app">
      <div class="downloads-details">
        <h1>download this app today</h1>
        <p>downloads available for Android and iphone</p>
      </div>
      <div class="button-container">
        <div class="playstor">
             
          <img src="../../../assets/app.svg" alt="">
      </div>
      <div class="playstor">
        <img src="../../../assets/play.svg" alt="">
      </div>
    </div>
  </div>
  </div>

  <!--<section class="downloads">
      
      <div class="download-details">
        <h1>download this app today</h1>
          <p>Seamlessly transform timely e-commerce for diverse leadership skills. Conveniently reconceptualize go forward expertise without extensible applications. Phosfluorescently.</p>
         
        </div>
        <div class="buttons-container">
          <div class="playstore">
             
              <img src="../../../assets/app.svg" alt="">
          </div>
          <div class="playstore">
            <img src="../../../assets/play.svg" alt="">
          </div>
        </div>
  </section>-->

  <section class="contact-us-section" id="contact">
    <div class="contact-container  ">
      <div class="container">
         
          <div class="contact-form-wrapper">
            <div class="contact-form">
              <h2>Get In Touch</h2>
              <form action="">
                <div class="single-form">
                  <label for="">Your Name</label>
                  <input type="text" placeholder="Enter Your Name">
                </div>
                <div class="single-form">
                  <label for="">Your Email</label>
                  <input type="text" placeholder="Enter Your Email">
                </div>
                <div class="single-form">
                  <label for="">Subject</label>
                  <input type="text" placeholder="Subject">
                </div>
                <div class="single-form">
                  <label for="">Your Message</label>
                  <textarea placeholder="Message"></textarea>
                </div>
                <button class="btn-submit" type="submit">Submit</button>
              </form>
            </div>
          </div>
      </div>
      
    </div>

  </section>
  
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>easyfarming</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#features">features</a></li>
              <li><a href="#screenshots">screenshots</a></li>
              
            </ul>
          </div>
          <div class="footer-col">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About</a></li>
            
            </ul>
          </div>
          <div class="footer-col">
            <h4>Download</h4>
            <ul>
              <li><a href="#download">Android</a></li>
              <li><a href="#download">iPhone</a></li>
           
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="privacy-terms">
        <h4>Copyright SMART FARMING APP (PTY)LTD 2021.</h4>
      </div>
      <div class="privacy-terms">
        <h4>Made by Kenneth Chuenyana</h4>
        <h3>AgritourZA <i class="far fa-copyright"></i> 2021</h3>
      </div>
   </footer>
  
    
